
<div>
<input class="form-control mt-2 search-input" placeholder="Search"  [(ngModel)]="searchvalue" /></div>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu">
   <li><a class="dropdown-item" style="cursor: pointer" (click)="HandleDropDown(1)">Category one </a></li>
   <li><a class="dropdown-item" style="cursor: pointer" (click)="HandleDropDown(2)">Category two </a></li>
   <li><a class="dropdown-item" style="cursor: pointer" (click)="HandleDropDown(3)">Category three </a></li>
  
</ul>
</div>



<div p-2 class="style-product">
 @for(parentproduct of getfilteredproduct() ; track parentproduct.id){
    <!-- [everyproduct]="product?.quantity > 0"      [quantity]="product.quantity||0"-->
    <app-single-new-component [product]="parentproduct" (handleAddToCart)="AddingToCart($event)"></app-single-new-component>
 }
 </div>

 <!-- @for(parentproduct of productss ;track parentproduct.id){
  <app-single-new-component [product]="parentproduct" ></app-single-new-component>
} -->
 



   
